<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <listener>
        <listener-class>example.tinysc.probe.ProbeListener</listener-class>
    </listener>

    <filter>
        <filter-name>probeFilter</filter-name>
        <filter-class>example.tinysc.probe.ProbeFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>probeFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>probeServlet</servlet-name>
        <servlet-class>example.tinysc.probe.ProbeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>probeServlet</servlet-name>
        <url-pattern>/hello/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>asyncProbeServlet</servlet-name>
        <servlet-class>example.tinysc.probe.AsyncProbeServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>asyncProbeServlet</servlet-name>
        <url-pattern>/async</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>forwardProbeServlet</servlet-name>
        <servlet-class>example.tinysc.probe.ForwardProbeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forwardProbeServlet</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uploadProbeServlet</servlet-name>
        <servlet-class>example.tinysc.probe.UploadProbeServlet</servlet-class>
        <multipart-config>
            <max-file-size>64</max-file-size>
            <max-request-size>1024</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadProbeServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>benchmarkServlet</servlet-name>
        <servlet-class>example.tinysc.probe.BenchmarkServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>benchmarkServlet</servlet-name>
        <url-pattern>/benchmark</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
